<div id="boxrifugio" class="right-rounded shadow2 mypanel">
  <div class="right-rounded paneltitle green">
	<a class="corner" href="#"><img class="flag" alt="Eng" title="English Available!" src="/static/images/us-uk-flag.gif"></a>
	<a href="/rifugio"><p>Rifugio</p></a>
  </div>
  <div class="sidemenu">
	<ul id="greenglass" class="glassitem">
	  <li><a href="/rifugio">E' aperto?</a></li>
	  <li><a href="/rifugio/mappe">Mappe</a></li>
	  <li><a href="/rifugio/bivacco">Bivacco</a></li>
	  <li><a href="/rifugio/ampliamenti">Ampliamenti</a></li>
	  <li><a href="/rifugio/storia">La Storia</a></li>
	</ul>
  </div>
</div>
