<div id="boxsezione" class="right-rounded shadow2 mypanel">
  <div class="right-rounded paneltitle orange">
    <a class="corner" href="#"><img class="flag" alt="Eng" title="English Available!" src="../static/images/us-uk-flag.gif"></a>
    <a href="/sezione"><p>Sezione</p></a>
  </div>
  <div>
    <div class="sidemenu">
      <ul id="orangeglass" class="glassitem">
        <li><a href="/sezione/contatti">Contatti</a></li>
        <li><a href="/sezione/quote">Quote</a></li>
        <li><a href="/sezione/storia">La Storia</a></li>
      </ul>
    </div>
  </div>
</div>
