<div id="boxriservato" class="right-rounded shadow2 mypanel">
  <div class="right-rounded paneltitle grey">
    <a class="corner" href="#"><img class="flag" alt="Eng" title="English Available!" src="/static/images/us-uk-flag.gif"></a>
    <a href="/pannello"><p>Pannello</p></a>
  </div>
  <div>
    <div class="sidemenu">
      <ul id="greyglass" class="glassitem">
        <li><a href="/pannello/area-riservata">Area Riservata</a></li>
        <li><a href="/pannello/feedback">Feedback</a></li>
        <li><a href="/pannello/webmaster">Webmaster</a></li>
      </ul>
    </div>
  </div>
</div>
