<!DOCTYPE html>
<html lang="it">
  <head>
    <meta charset="utf-8">
    <title>CAI Sovico</title>

    <link href="/static/css/style-general.css" rel="stylesheet">
    <link href="{{ url_for_css }}" rel="stylesheet">
    <link href="/static/css/panel-bootstrap.css" rel="stylesheet">
    {% if bootstrap %}
    <link href="/static/css/carousel-bootstrap.css" rel="stylesheet">
    {% endif %}
    

  </head>

  <body>

  <div class='shadow2 page'>

    <div class="main">   <!--Useful only to keep the footer in the right place... :/-->
    <!-- Header -->
    <div class="header shadow2">
	 <a href="/"><img class=" banner " alt="Banner CAI Sovico" title="Home CAI Sovico" src="/static/images/banner.png"></a>
	{% if eng %}
	  <a href="#"><img class="flag" alt="Eng" title="English Available!" src="/static/images/flag-eng.gif"></a> 
	{% endif %}
	{% if not ita %}
	  <a href="#"><img class="flag" alt="Eng" title="Versione Italiana" src="/static/images/flag-ita.gif"></a> 
	{% endif %}
	  <a href="/"><img class="homeico" alt="Home" title="Home CAI Sovico" src=
			{% if openbox=='rifugio' %}		
				"/static/images/homegreen.png"
			{% elif openbox=='programmi' %}
				"/static/images/homepurple.png"
			{% elif openbox=='sezione' %}
				"/static/images/homeorange.png"
			{% elif openbox=='pannello' %}
				"/static/images/homeblue.png"
			{% endif %}></a>
    </div>


    <div class="sidebar panel-group" id="sidebar" role="tablist" aria-multiselectable="true">
        <div id="boxrifugio" class="right-rounded shadow2 mypanel">
          <div class="right-rounded paneltitle green" role="tab" id="headingOne">
            <a class="collapsed" data-toggle="collapse" data-parent="#sidebar" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
				<p>Rifugio Del Grande</p> 
            </a>
          </div>
          <div id="collapseOne" class="panel-collapse collapse {% if openbox=='rifugio' %}in{% endif %}" role="tabpanel" aria-labelledby="headingOne">
            <div class="panel-body">
              <div class="sidemenu"   id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                  <ul id="greenglass" class="glassitem">
                    <a href="/rifugio"><li>Il Rifugio</li></a>
                    <a href="/rifugio/mappe"><li>Mappe</li></a>
                    <a href="/rifugio/bivacco"><li>Bivacco</li></a>
                    <a href="/rifugio/ampliamenti"><li>Ampliamenti</li></a>
                    <a href="/rifugio/storia"><li>La Storia</li></a>
                  </ul>
                </div>
            </div>
          </div>
        </div>

        <div id="boxescursioni" class="right-rounded shadow2 mypanel">
          <div class="right-rounded paneltitle purple" role="tab" id="headingTwo">
              <a class="collapsed" data-toggle="collapse" data-parent="#sidebar" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                <p > Escursioni </p>
              </a>
          </div>
          <div id="collapseTwo" class="panel-collapse collapse {% if openbox=='programmi' %}in{% endif %}" role="tabpanel" aria-labelledby="headingTwo">
            <div class="panel-body">
                <div class="sidemenu"   id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                  <ul id="purpleglass" class="glassitem">
                    <a href="/programmi/prossime"><li>Prossime Gite</li></a>
					<a href="/programmi"><li>Calendario</li></a>
                    <a href="/programmi/norme"><li>Norme</li></a>
                  </ul>
                </div>
            </div>
          </div>
        </div>

        <div id="boxsezione" class="right-rounded shadow2 mypanel">
          <div class="right-rounded paneltitle orange" role="tab" id="headingThree">
              <a class="collapsed" data-toggle="collapse" data-parent="#sidebar" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                <p >Sezione </p>
              </a>
          </div>
          <div id="collapseThree" class="panel-collapse collapse {% if openbox=='sezione' %}in{% endif %}" role="tabpanel" aria-labelledby="headingThree">
            <div class="panel-body">
                <div class="sidemenu"   id="collapseThree" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingThree">
                  <ul id="orangeglass" class="glassitem">
                    <a href="/sezione"><li>La Sezione</li></a>
                    <a href="/sezione/avvisi"><li>Avvisi</li></a>
                    <a href="/sezione/storia"><li>La Storia</li></a>
                    <a href="/sezione/quote"><li>Quote</li></a>
                    <a href="/sezione/assicurazioni"><li>Assicurazioni</li></a>
                    <a href="/sezione/contatti"><li>Contatti</li></a>
                  </ul>
                </div>
            </div>
          </div>
        </div>

        <div id="boxriservato" class="right-rounded shadow2 mypanel">
          <div class="right-rounded paneltitle grey" role="tab" id="headingFour">
              <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                <p >Area Riservata </p>
              </a>
          </div>
          <div id="collapseFour" class="panel-collapse collapse {% if openbox=='pannello' %}in{% endif %}" role="tabpanel" aria-labelledby="headingFour">
            <div class="panel-body">
                <div class="sidemenu"   id="collapseFour" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingFour">
                  <ul id="greyglass" class="glassitem">
                    <a href="/pannello/area-riservata"><li>Area Riservata</li></a>
                    <a href="/pannello/feedback"><li>Feedback</li></a>
                    <a href="/pannello/webmaster"><li>Webmaster</li></a>
                  </ul>
                </div>
            </div>
          </div>
        </div>
        
    </div> <!-- closes sidebar-->

      {% block body %}
      {% endblock %}
      
    </div> <!-- closes main-->
    
    <div class="footer">
	<p>Club Alpino Italiano Sezione di SOVICO <br> Ex Serra Tagliabue Viale Brianza 20845 Sovico MB</p>
    </div>

    </div> <!-- closes page-->


    <script src="/static/javascript/jquery-1.11.2.min.js"></script>     <!-- required for Bootstrap-->
    <script src="/static/javascript/bootstrap.js"></script>

  </body>
</html>
