<!DOCTYPE html>
<html lang="it">
  <head>
    <meta charset="utf-8">
    <title>CAI Sovico</title>

    <link href="../static/css/style-general.css" rel="stylesheet">
    <link href="../{{ url_for_css }}" rel="stylesheet">
    {% if bootstrap %}
    <link href="../static/css/carousel-bootstrap.css" rel="stylesheet">
    {% endif %}


  </head>

  <body>

  <div class='shadow2 page'>

    <div class="main">   <!--Useful only to keep the footer in the right place... :/-->
    <!-- Header -->
    <div class="header">
      <a href="/"><img class="shadow2" alt="Home Banner CAI Sovico" title="Home CAI Sovico" src="../static/images/banner.png"></a>
      <nav class="navbar shadow2">
	<ul class="navmenu">
	  <li><a href="/">HOME</a></li>
	  <li><a href="/archivio">ARCHIVIO</a></li>
	  <li><a href="/galleria">FOTO GALLERY</a></li>
	</ul>
      </nav>
    </div>

    <div class='sidebar'>
    {% for x in sidebar %}
		{% include x %}
	{% endfor %}

    </div> <!-- closes sidebar-->

      {% block body %}
      {% endblock %}
      
    </div> <!-- closes main-->
    
    <div class="footer">
	<p>Club Alpino Italiano Sezione di SOVICO <br> Ex Serra Tagliabue Viale Brianza 20845 Sovico MB</p>
    </div>

    </div> <!-- closes page-->


	{% if bootstrap %}
    <script src="../static/javascript/jquery-1.11.2.min.js"></script><!-- required for Bootstrap-->
    <script src="../static/javascript/bootstrap.js"></script>
	{% endif %}

  </body>
</html>
