
#content {
padding:20px
}

#dialog {
position:absolute; 
width:225px; 
padding:0px; 
z-index:200; 

}

#dialog-title {
  float:left
}

#dialog-header {
  width:300px;
  
}
#dialog-header img{
  width:300px;
}

#dialog-close {
  float:right;
  height:11px; 
  width:11px; 
  background:url(/static/images/dialog_close.gif) no-repeat;
}

#postit-btn{
  position:absolute;
  bottom:20px;
  right:40px;
  display:table-cell;
  display:block;
  font-size:12px;
  color: #523C00;
  font-weight:bold;
  text-align: center;
  background-color: #FFA500; 
  padding: 3px;
  margin: 5px;
  border: none;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
}
#postit-btn:hover{
  background-color: #FFB329
}


/* The actual popup */
#dialog-content {
  text-align: center;
  font-size: 20px;
  font-style: italic;
  line-height:150%;
  width:259px;
  display:block;
  margin-top:-5px;
  padding:20px;
  padding-bottom:60px; 
  color:#666666; 
  font-size:20px

-moz-box-shadow:0px 0px 10px #000000;
-webkit-box-shadow:0px 0px 10px #000000;
box-shadow:0px 0px 10px #000000;

}

/* Color of the background mask */
#dialog-mask {
position:absolute; 
top:0; 
left:0; 
min-height:100%; 
width:100%; 
background:#444; 
opacity:.3; filter:alpha(opacity=30);
 z-index:100
}

.warning {
  background-color:#fff7b2;
}

