
/************* Colors & Page-related settings *******************/
.header{
  background-image:url('../images/banner-web.jpg');
}
.navbar{
  background-color: #9893C2;
}
.navbar a{
  background-color: #575086;
}
.navbar a:hover{
  background-color: #B2AEC6;
}
.page{
  background-color: #E6DCF9;
}
.footer{
  background-color: #3D3852;
}
.text{
  background-color: #FFFFFF;
  border: 2px solid #050336;
}
.text h1, .text h2{
  color: #050336;
}
.text h3, .text h4, .text h5{
  color: #050336;
}

/************** Main Page classes ********************/

.boxlog{
  overflow:hidden;
  text-align:center;
  border: 4px dotted #050336;
  margin-top: 0;
  margin-left:20%;
  margin-bottom: 10%;
  margin-right: 20% ;
  padding-top: 0;
  padding-left:10px;
  padding-bottom: 10px;
  padding-right: 10px ;
}
.boxlog input[type="text"], .boxlog input[type="password"]{
    display:block;
    font-size:18px;
    width:50%;
    margin:auto;
    margin-top:10px;
    margin-bottom:0;

}
.boxup{
  overflow:hidden;
  border: 4px dotted #050336;
  margin-top: 0;
  margin-left:5%;
  margin-bottom: 10%;
  margin-right: 5% ;
}
hr{
    border:none;
    border-bottom: 4px dotted black;
    width:90%;
    margin: 30px;
}

input[type="text"], input[type="datetime"], input[type="password"], textarea{
    border : 1px solid #cccccc;
    font-family:sans-serif;
    margin-top:10px;
    margin-bottom:10px;
}
form .title{
    width: 90%;
    font-size:25px;
    float:center;
    text-align:center;
}
form .data{
    font-size:14px;
    font-style: italic;
    width:45%;
    margin-right:5%;
}
form .textfield{
    font-family:sans-serif;
    width:90%;
    height:160px;
}
form .caption{
    font-size:14px;
    width:90%;
}
form .nota{
    font-size:18px;
    font-family:sans-serif;
    width:40%;
    height:108px;
}

.buttonstyle{
    display:block;
    width:35%;
    color: #FFFFFF;
    font-size:16px;
    font-weight:bold;
    line-height:150%;
    text-decoration:none;
    font-family:arial, verdana, sans-serif;
    text-align: center;
    background-color: #685194;
    padding: 15px 10%;
    margin: 15px auto;
    border:none;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
}
.buttonstyle:hover{
  background-color:#977BD1;
}
.backbuttonstyle{
    display:block;
    width:20%;
    color: #FFFFFF;
    font-size:16px;
    font-weight:bold;
    line-height:100%;
    text-decoration:none;
    font-family:arial, verdana, sans-serif;
    text-align: center;
    background-color: #465AFB;
    padding: 15px 10%;
    margin: 15px auto;
    border:none;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
}
.backbuttonstyle:hover{
  background-color: #6495ED;
}


.index{
    position:relative;
    float:center;
    margin:5%;
    width: 90%;
    padding: 5px;
}
.index td{
    font-size:16px;
    font-family:arial, verdana, sans-serif;
    line-height: 250%;
    position:relative;
    padding: 5px;
    text-align: center;
    background-color: #423189;
}
.index td:hover{
  background-color: #644EC1;
}
.index a{
  color: #FFFFFF;
  font-weight:bold;
  text-decoration:none;
}
.index a:hover{
  text-decoration:underline;
}


.text a{
    text-decoration:none;
}
.text a h1:hover{
    text-decoration:underline;
}
.text img{
  width:50%;
}
.text .label{
  background-color: #CCC2E0;
}
.text .me{
  width:35%;
  margin: 0 30%;
  float:center;
}


.strip{
  background-color: white;
  border-collapse: collapse;
  font-size:16px;
}
.strip td{
  width: 30%;
  text-align: center;
}
.strip td a{
  text-decoration:none;
  color:black;
}
.strip td a:hover{
  text-decoration:underline;
}







.pseudotable{
    margin:auto;
    margin-bottom:40px;
    padding-top:3px;    /* Simulate the 'collapse borders' of a table */
    padding-bottom:3px;
    width:80%;
    overflow:hidden;
}
.pseudorow{
    margin:auto;
    margin-top:-2px;    /* Simulate the 'collapse borders' of a table */
    margin-bottom:-2px;
    padding:0;
    width:100%;
    border-top: 2px solid grey;
    border-bottom: 2px solid grey;
    overflow:hidden;
}
.pseudorow:hover{
    font-weight:bold;
    background-color:#EEEEEE;
}
.pseudotable a{
    color:black
}
.pseudotable a:hover{
    color:black
}
.tabledata{
    margin:0 !important;    /* Overrides .text p inherited margin */
    padding:10px;
    display:inline;
    float:right;
    font-style:italic;
}
.tabletitle{
    margin:0 !important ;   /* Overrides .text p inherited margin */
    padding:10px;
    display:inline;
    float:left;
}


