
/************* Colors & Page-related settings *******************/
.header{
  background-image:url('../images/banner-web.jpg');
}
.navbar{
  background-color: #9893C2;
}
.navbar a{
  background-color: #575086;
}
.navbar a:hover{
  background-color: #B2AEC6;
}
.page{
  background-color: #E6DCF9;
}
.footer{
  background-color: #3D3852;
}
.text{
  background-color: #FFFFFF;
  border: 2px solid #050336;
}
.text h1, .text h2{
  color: #050336;
}
.text h3, .text h4, .text h5{
  color: #050336;
}

/******************** Home Page classes *******************************/

.index{
    position:relative;
    margin:auto;
    margin-top: 0;
    margin-bottom:5%;
    width: 90%;
    padding: 5px;
}
.index td{
    font-size:16px;
    font-family:arial, verdana, sans-serif;
    line-height: 250%;
    position:relative;
    padding: 5px;
    text-align: center;
    background-color: #423189;
}
.index td:hover{
    background-color: #644EC1;
}
.index th{
    background-color: #FFFFFF;
}
.index a{
  color: #FFFFFF;
  font-weight:bold;
  text-decoration:none;
}
.index a:hover{
  text-decoration:underline;
}


.text a{
    text-decoration:none;
}
.text a h1:hover{
    text-decoration:underline;
}
.text img{
  width:50%;
}
.text .label{
  background-color: #CCC2E0;
}
.text .me{
  width:35%;
  margin: 0 30%;
  float:center;
}



/************** Login Page classes ********************/

.boxlog{
  overflow:hidden;
  text-align:center;
  border: 4px dotted #050336;
  margin-top: 0;
  margin-left:20%;
  margin-bottom: 10%;
  margin-right: 20% ;
  padding-top: 0;
  padding-left:10px;
  padding-bottom: 10px;
  padding-right: 10px ;
}
.boxlog input[type="text"], .boxlog input[type="password"]{
    display:block;
    font-size:18px;
    width:50%;
    margin:auto;
    margin-top:10px;
    margin-bottom:0;
}


/************** Upload Page classes ********************/

.boxup{
  overflow:hidden;
  border: 4px dotted #050336;
  margin: 0 5% 5% 5%;
}
hr{
    border:none;
    border-bottom: 4px dotted black;
    width:90%;
    margin: 30px;
}

input[type="text"], input[type="datetime"], input[type="password"]{
    border : 1px solid #cccccc;
    font-family: sans-serif;
    margin-top:10px;
    margin-bottom:10px;
}
form .title{
    width: 90%;
    font-size:25px;
    float:center;
    text-align:center;
}
form .data{
    font-size:14px;
    font-style: italic;
    width:45%;
    margin-right:5%;
}
form .textfield{
    width:70%;
    height:140px;
}
form .caption{
    font-size: 14px;
    width: 50%;
    text-align: center;
}
form .filepkr{
    margin-top: 20px;
    margin-bottom: 20px;
}
form .nota{
    font-size:18px;
    font-family:sans-serif;
    width:40%;
    height:108px;
}

.photobox{
    overflow: hidden;
    display: inline-block;
    vertical-align:top;
    text-align:center;
    margin-left: 4%;
    margin-bottom: 2%;
    margin-top: 2%;
    padding: 15px;
    width: 35%;
    background-color: #E6DCF9;
    border: 2px solid #A69CB9;
}
.photobox img, .photobox input, .photobox p, .photobox a{
    width: 70%;
    margin-left:auto; 
    margin-right:auto;
    margin-top: 5px;
    margin-bottom:5px;
}



/************** Button classes ********************/

.btn-upload{
    background-color: #685194;
    padding: 15px 10%;
}
.btn-upload:hover{
  background-color:#977BD1;
}
.btn-back{
    background-color: #465AFB;
    padding: 15px 10%;
}
.btn-back:hover{
  background-color: #6495ED;
}
.btn-del{
    background-color: #FF0000;
    padding: 15px 10%;
}
.btn-del:hover, .s-btn-del:hover{
  background-color: #FF914D;
}
.s-btn-del{
    color: #FFFFFF;
    background-color: red;
}
.s-btn-del p{
    color:white;
    margin:0;
    padding:0;
}
.tbl-btn{
	width:50%;
	margin-left:auto;
	margin-right:auto;
	margin-top: 5px;
	margin-bottom:5px;
}

/************** Manage Page classes ********************/

.calend li {
  font-size:14px;
  line-height:160%;
  border-collapse: collapse;  /* Makes row borders stylable? */
}
.calend{
  width: 90%;
  position: relative;
  margin: auto;
}

.calend tr:nth-child(even) td{
  border-bottom: 3px solid #888;
}
.calend tr td:first-child{
  border-left: 3px solid #888;
}
.calend tr td:nth-child(2){
  border-right: 3px solid #888;
}

.calend tr td:nth-child(1) p {
  text-align:right;
  font-style: italic;
  margin: 7px;
  padding: 0;
}
.calend tr td:nth-child(1) {
  width:25%;
}
.calend tr td:nth-child(2) p {
  margin: 7px;
  padding: 0;
}
.calend tr td:nth-child(3){
  width:15%;
}



.pseudotable{
    margin:auto;
    margin-bottom:40px;
    padding-top:3px;    /* Simulate the 'collapse borders' of a table */
    padding-bottom:3px;
    width:80%;
    overflow:hidden;
}
.pseudorow{
    margin:auto;
    margin-top:-2px;    /* Simulate the 'collapse borders' of a table */
    margin-bottom:-2px;
    padding:0;
    width:100%;
    border-top: 2px solid grey;
    border-bottom: 2px solid grey;
    overflow:hidden;
}
.pseudorow:hover{
    font-weight:bold;
    background-color:#EEEEEE;
}
.pseudotable a{
    color:black
}
.pseudotable a:hover{
    color:black
}
.off-pseudorow{
    margin:auto;
    margin-top:-2px;    /* Simulate the 'collapse borders' of a table */
    margin-bottom:-2px;
    padding:0;
    width:100%;
    border-top: 2px solid grey;
    border-bottom: 2px solid grey;
    overflow:hidden;
    background-color:#DDDDDD;
    color: #888888;
    font-weight:bold;
}
.tabledata{
    margin:0 !important;    /* Overrides .text p inherited margin */
    padding:10px;
    float:right;
    font-style:italic;
}
.tabletitle{
    margin:0 !important ;   /* Overrides .text p inherited margin */
    padding:10px;
    float:left;
}




