
/************* Colors & Page-related settings *******************/
.header{
  background-image:url('../images/banner-rif.jpg');
}
.page{
  background-color: #A8E1AD;
}
.footer{
  background-color: #237B41;
}
.text{
  background-color: #FFFFFF;
  border: 2px solid #81522C;
}
.text h1, .text h2{
  color: #813A0E;
}
.text h3, .text h4, .text h5{
  color: #57270A;
}

/************** Main Page classes ********************/

.index td{
  width:50%;
  margin: 5px;
  padding: 10px 20px;
  text-align: center;
  background-color: #006B05;
}
.index a{
  color: #FFFFFF;
  font-weight:bold;
  text-decoration:none;
}
.index a:hover{
  text-decoration:underline;
}

table{
  text-align: left;
  width: 90%;
  margin: 20px;
  padding: 5px;
}
td{
  font-size:14px;
  font-family:arial, verdana, sans-serif;
  line-height: 140%;
  position:relative;
  width: 10%;
  padding: 5px;
  background-color: #E6E6E5;
 }

