
/************* Colors & Page-related settings *******************/
.header{
  background-image:url('../images/banner-prog.jpg');
}
.page{
  background-color: #E7C1F5;
}
.footer{
  background-color: #6B00EB;
}
.text{
  background-color: #FFFFFF;
  border: 2px solid #6600FF;
}
.text h1, .text h2{
  color: #6600FF;
}
.text h3, .text h4, .text h5{
  color: #6600FF;
}

/************** Calendario classes ********************/

table tr td:first-child p {
  text-align:right;
  font-style: italic;
  margin: 7px;
  padding: 0;
}
table tr td:first-child {
  width:25%;
}
table tr td:nth-child(2) p {
  margin: 7px;
  padding: 0;
}



/************** Eventi classes (See style-general for more about .post) ********************/

.post{
  width: 40%;
  background-color: #F9F0FF;
}
.post img{
  width: 40%;
  height: auto;
  display:inline;
  padding: 0;
  margin: 20px 7px;  
}
.postbtn{
  font-weight:bold;
  font-size:24px;
}
