
{% block boxrifugio %}
<div id="boxrifugio" class="right-rounded shadow2 mypanel">
  <div class="right-rounded paneltitle green">
    <a class="corner" href="#"><img class="flag" alt="Eng" title="English Available!" src="static/images/us-uk-flag.gif"></a>
    <a href="rifugio-home.html"><p>Rifugio</p></a>
  </div>
  <div class="sidemenu">
    <ul id="greenglass" class="glassitem">
      <li><a href="rifugio-home.html">E' aperto?</a></li>
      <li><a href="rifugio-mappe.html">Mappe</a></li>
      <li><a href="rifugio-bivacco.html">Bivacco</a></li>
      <li><a href="rifugio-ampliamenti.html">Ampliamenti</a></li>
      <li><a href="rifugio-storia.html">La Storia</a></li>
    </ul>
  </div>
      </div>
{% endblock %}





