{% block boxwebmaster %}
<div id="boxriservato" class="right-rounded shadow2 mypanel">
  <div class="right-rounded paneltitle grey">
    <a class="corner" href="#"><img class="flag" alt="Eng" title="English Available!" src="static/images/us-uk-flag.gif"></a>
    <a href="webmaster-home.html"><p>Pannello</p></a>
  </div>
  <div>
    <div class="sidemenu">
      <ul id="greyglass" class="glassitem">
        <li><a href="webmaster-reserved.html">Area Riservata</a></li>
        <li><a href="webmaster-feedback.html">Feedback</a></li>
        <li><a href="webmaster-about.html">Webmaster</a></li>
      </ul>
    </div>
  </div>
</div>
{% endblock %}
