{% extends "base/main.html" %}

{% block body %}
    <div class="bacheca shadow2">
        
      <div class="news">
          
          <h2>404 - Pagina Inesistente</h2>
          <p>Spiacente, la pagina che stai cercando non esiste o è stata rimossa.</p>
          <p>Se credi che si tratti di un nostro errore, <a href='/pannello/feedback'>contattaci</a> per saperne di più.</p>
        
      </div>
        
    <a href='/' class='btn-back buttonstyle'>HOME</a>
    </div>
    

{% endblock %}
