{% extends "base/main.html" %}

{% block body %}
    <div class="bacheca shadow2">
        
      <div class="news">
          
          <h2>500 - Errore Interno</h2>
          <p style="text-align:center;"><small> *** {{ msg }} *** </small></p>
          <p>Spiacente, si è verificato in errore all'interno del server.</p>
          <p>Per favore <a href='/pannello/feedback'>contattaci</a> o scrivi una mail a <b>webmaster@caisovico.it</b> 
          per segnalare al più presto questo errore.</p>
          <p>Grazie della collaborazione,</p>
          <p>Il Webmaster</p>
          
        
      </div>
        
    <a href='/' class='btn-back buttonstyle'>HOME</a>
    </div>
    

{% endblock %}
