{% extends "base/main.html" %}
{% set leftside='leaflet' %}

{% set home=1 %}



{% block body %}
    <div class="bacheca shadow2"> <!-- Bacheca -->
        
		<h1>Ultime Notizie e Avvisi</h1>
		<!--<img src="/static/images/postit.png" class="postit" OnClick="javascript:showDialog('','{Avviso del giorno}<br><button id=postit-btn OnClick=hideDialog()>CHIUDI</button>','warning');"> -->

      <div class="post">
          <h3> { rec.title }} </h3>
          <p> { rec.desc|nl2br() }} <br>
      </div>
      
      <div class="post">
          <h3> { rec.title }} </h3>
          <p> { rec.desc|nl2br() }} <br>
      </div>
      
      <div class="post">
          <h3> { rec.title }} </h3>
          <p> { rec.desc|nl2br() }} <br>
      </div>
	{ endfor }

    </div><!-- closes bacheca -->

{% endblock %}


{% block rec %}
        <div class="rec">
          <h3> { rec.title }} </h3>
          <p> { rec.desc|nl2br() }} <br>
          <a href="gite/{ rec.id }}"> Leggi Tutto...</a></p>
		  {% if post.pics[0] %}
          <img src='/uploads/photos/{ post.pics[0][2] }}'>
          {% endif %}
          {% if post.pics[1] %}
          <img src='/uploads/photos/{ post.pics[1][2] }}'>
          {% endif %}
        </div>
{% endblock %}
