{% extends "base/main.html" %}

{% block body %}
    <div class="bacheca shadow2"> <!-- Bacheca -->
      <div class="bachtitle">
        <h1>Ultime Notizie e Avvisi</h1>
      </div>
      <div class="postside">
	  
      {% if news_placeholder %}
        <div class="post">
            <h3> Benvenuti! </h3>
            <p>Al momento non ci sono notizie sulla nostra homepage.</p>
            <p>Se pensate che sia un errore, <a href="mailto:webmaster@caisovico.it">mandateci una mail</a> all'indirizzo <b>webmaster@caisovico.it</b>.<br>
        </div>
      {% else %}
          {% for post in newslist %}
            <div class="post">
              
              <h3> {{ post.title }} </h3>
              <p> {{ post.content|nl2br() }} <br>
              <a href="news/{{ post.id }}"> Leggi Tutto...</a></p>
              {% if post.pics[0] %}
              <img src='/uploads/photos/{{ post.pics[0][2] }}'>
              {% endif %}
              {% if post.pics[1] %}
              <img src='/uploads/photos/{{ post.pics[1][2] }}'>
              {% endif %}
            </div>
          {% endfor %}
       {% endif %}
      
        <div class="post">
          <p>{% if curpage > 1 %}<a href='/{{curpage-1}}'>Prev</a>{% endif %}
             Pagina {{ curpage }} di {{ totpage }}
             {% if curpage < totpage %}<a href='/{{curpage+1}}'>Next</a>{% endif %}
          </p>
        </div>
	
      </div><!-- closes postside -->
      
      <div class="noteside">
      {% if notes_placeholder %}
        <div class="note">
            <p>Benvenuti nel sito del CAI di Sovico!</p>
        </div>
      {% else %}
        {% for note in noteslist %}
        <div class="note">
          <p>{{ note.title|nl2br() }}</p>
        </div>
        {% endfor %}
      {% endif %}
      </div><!-- closes noteside -->

    </div><!-- closes bacheca -->

{% endblock %}
