{% extends "base/main.html" %}

{% block body %}
    <div class="bacheca shadow2">
        
      <div class="post">
          
          <h1>Benvenuti!</h1>
          <p>Benvenuti nel sito del CAI di Sovico!</p>
          <p>In questa pagina dovrebbero essere presenti le ultime novità
          della Sezione, annunci di gite e avvisi per i Soci. Purtroppo,
          a causa di un inconveniente tecnico, questi avvisi per ora non
          sono disponibili.</p>
          
          
          
          
          <p>Tutto il resto del sito è interamente navigabile
          e non dovrebbe presentare alcun problema: per esempio, potete 
          visitare:
          <ul>
              <li>la sezione <a href='/rifugio'>Rifugio</a>, con le ultime 
                  informazioni sul Rifugio Mario del Grande - Remo Camerini</li> 
              <li>la sezione <a href='/programmi'>Programmi</a>, con la 
                  lista delle gite in programma quest'anno,</li>
              <li>la sezione <a href='/sezione'>Sezione</a>, con tutti i 
                  dati riguardanti la Sezione dei CAI di Sovico, come
                  contattarci e come raggiungerci.
          </ul>
          <p>Se la vostra connessione a Internet non è delle migliori, è
          possibile che ricaricando la pagina il problema si risolva.</p>
          <p>In ogni caso, la cosa migliore è <b><a href='/pannello/feedback'>segnalare</a></b>
          questo errore al webmaster (scrivendo una mail all'indirizzo 
          <b>webmaster@caisovico.it</b>) che provvederà al più presto a 
          mettere a posto le cose.</p>
          <p>Buona navigazione!</p>
          <p>Il Web Master</p>
          
          <a href='/' class='btn-back buttonstyle'>Ricarica</a>
          
      </div>
        
    </div>
    

{% endblock %}
