{% extends "base/main.html" %}

{% set home=1 %}

{% block body %}
    <div class="bacheca shadow2">
        
      <div class="post">
          
          <img class="copertina" src="/static/images/disegno_rifugio.jpg">
          <img class="postit" src="/static/images/postit.png" onClick="showDialog('','2 Ricordatevi il bollino del 2015! Sta per scadere!<br><button OnClick=hideDialog() class=postit-btn buttonstyle>CHIUDI</button>','warning');">
          
      </div>
        
    </div>
    

{% endblock %}
