{% extends "base/main.html" %}

{% block body %}
    <div class="text">
        
	  <h1>Prossima Gita</h1>
	  
	  <div class='container'>
	    <div class='miniature'>
	        <img src='/uploads/thumb/thumbnail.jpg' style='border:1px solid #333;'>
	    </div>
        <div class='description'>
            <h3> Gita al Rifugio </h3>
            <p> Una fantastica escursione tra le montagne della Valmalenco. <br></p>
            <a href='volantino'>Scarica il volantino</a>
        </div>
      </div>
      
      <h1>Attività dei Soci</h1>
      
      <div class='container'>
	    <div class='miniature'>
	        <img src='/uploads/photos/{rec.foto}' >
	    </div>
        <div class='description'>
            <h3>Parete di arrampicata</h3>
            <p> La parete di arrampicata e' stata un successo anche quest'anno. <br></p>
            <a href='{attivita}'>Leggi tutto...</a>
        </div>
      </div>
      

    </div>

{% endblock %}

