{% extends "base/main.html" %}

{% block body %}
    <div class="text">
        
	  <h1>Eventi passati</h1>
	  
	  
	  <div class='box'>
          <h3> Gita al Rifugio </h3>
          <p> Una fantastica escursione tra le montagne della Valmalenco. <br></p>
          <a href='{post.id}'>Leggi tutto</a><br>
          <img src='/uploads/thumb/thumb1.jpg'>
          <img src='/uploads/thumb/thumb2.jpg'>\
          { endif }
      </div>
	  
	  
	  { for post in postlist }
	  
	  <div class='box'>
          <h3> { post.title } </h3>
          <p> { post.desc } <br></p>
          <a href='{post.id}'>Leggi tutto</a>
          { if post.pics[0]}
          <img src='/uploads/thumb/{post.pics[0].thumb}'>
          { endif}
          {if post.pics[1]}
          <img src='/uploads/thumb/{post.pics[0].thumb}'>\
          { endif }
      </div>

      { endfor }

    </div><!-- closes bacheca -->

{% endblock %}

