{% extends "base/main.html" %}

{% block body %}
<div class="text">
	<h1>Norme per il Gitante</h1>
	<ol>
	  <li>La Sezione si riserva di modificare il presente programma qualora insorgessero difficoltà organizzative.</li>
	  <li>Gli orari di partenza verranno comunicati di volta in volta, esposti in sezione e sui manifesti.</li>
	  <li>La Sezione CAI declina ogni responsabilità verso persone e cose durante ogni gita.</li>
	  <li>Per qualsiasi gita in Italia o all'estero si richiede il documento di identità valido</li>
	</ol>
	<p align="center"> Torna al <a href="/programmi">Calendario</a> </p>
</div>
    

{% endblock %}
