{% extends "base/main.html" %}

{% block body %}
    <div class="text">
      <h1>Mappe e percorsi</h1>
      <p><b>ATTENZIONE!</b> Verificate il <a href="/rifugio">periodo di apertura</a> prima di pianificare la vostra visita al rifugio M. Del Grande - R. Camerini.</p>
      <p>Se volete visitare il rifugio durante il periodo di chiusura, visitate prima la sezione <a href="/rifugio/bivacco">Bivacco</a></p>

      <h2>Percorsi</h2>
      <h4>Via di Accesso</h4>
      <p>Da <b>Chiesa Valmalenco</b> seguire le indicazioni per <b>Chiareggio</b>.<br>
      Oltrepassate le "tormentate" cave di pietra di Chiesa si arriva a San Giuseppe,
      e proseguendo sempre in direzione dell'alta valle si arriva a Chiareggio.<br>
      La macchina può essere lasciata o all'inizio del paese prima dell'<b>Albergo Genziana</b> 
      in un parcheggio sulla destra della strada, oppure lungo il fiume Mallero. 
      Nel primo caso si dovranno percorrere circa 20 minuti a piedi per raggiungere il 
      parcheggio lungo il fiume (cosa consigliabile a chi visita Chiareggio per la prima volta), 
      da cui parte il sentiero per il rifugio Del Grande Camerini. Nel caso si decida
      di parcheggiare l'auto lungo il fiume, occorre oltrepassare il paese di Chiareggio,
      ed inoltrarsi lungo una strrada sterrata oltrepassando il <b>"Pian del Lupo"</b>
      e seguendo le indicazioni per il parcheggio.<br>
      Lasciata la macchina al parcheggio realizzato sui resti dell'alluvione del 1987,
      risalire il fiume  lasciando alcune case sulla destra (indicazioni per il <b>rifugio Tartaglione</b>).<br>
      All'interno del bosco mantenere la destra fino ad arrivare ad un ponticello sul Mallero,
      al di là del quale si trovano le indicazioni per vari rifugi. Da questo punto in poi è
      possibile seguire uno degli itinerari descritti di seguito.</p>
      <h4>ITINERARIO 1: "Sentiero Vazzeda"</h4>
      <p>
      <b>Difficoltà</b>: Facile in estate ad eccezione di qualche passaggio che può rivelarsi difficoltoso in caso di torrenti in piena o disgelo tardivo.<br>
      <b>Tempo di salita</b>: 3 ore<br>
      <b>Segnaletica</b>: Triangoli e bolli gialli dell'Alta Via della Valmalenco<br>
      <b>Dislivello</b>: 1000 metri<br>
      <b>Descrizione</b>: Dopo il ponticello seguire il cartello che indica per l'Alpe Vazzeda Inferiore e Superiore.
      Il sentiero si addentra subito nel bosco. Dopo avere attraversato un ponticello fatto con i tronchi
      si arriva all'Alpe Vazzeda Inferiore con un alpeggio e delle baite. Da quì si segue sempre il
      sentiero e dopo facili roccette si arriva all'alpe Vazzeda Superiore (tralasciare gli evidenti
      segni bianco/azzurri che portano al Rifugio del Forno). Da qui dopo una sucessiva salita inizia
      il lungo traverso che porta fino a sotto il rifugio dopo avere traversato numerosi corsi d'acqua
      che scendono dal ghiacciaio del Vazzeda.<br>
      </p>
      <h4>ITINERARIO 2: "Sentiero Val Sissone"</h4>
      <p>
      <b>Difficoltà</b>: Facile in estate ad eccezione di qualche passaggio che può rivelarsi difficoltoso in caso di torrenti in piena o disgelo tardivo.<br>
      <b>Tempo di salita</b>: 3 ore<br>
      <b>Segnaletica</b>: Triangoli e bolli gialli dell'Alta Via della Valmalenco<br>
      <b>Dislivello</b>: 1000 metri<br>
      <b>Descrizione</b>: Dopo il ponticello seguire il cartello che indica per l'Alpe Vazzeda Inferiore e Superiore.
      Il sentiero si addentra subito nel bosco. Dopo avere attraversato un ponticello fatto con i tronchi
      si arriva all'Alpe Vazzeda Inferiore con un alpeggio e delle baite. Da quì si segue sempre il
      sentiero e dopo facili roccette si arriva all'alpe Vazzeda Superiore (tralasciare gli evidenti
      segni bianco/azzurri che portano al Rifugio del Forno). Da qui dopo una sucessiva salita inizia
      il lungo traverso che porta fino a sotto il rifugio dopo avere traversato numerosi corsi d'acqua
      che scendono dal ghiacciaio del Vazzeda.<br>
      </p>
      <h4>ITINERARIO 3: "Sentiero Diretto"</h4>
      <p>
      <b>Difficoltà</b>: Più breve ma faticoso poiché sale direttamente. Sconsigliato a chi vuole godersi il panorama, è più che altro un accesso
      "di servizio". La segnaletica è scarsa; qualche decina di metri di roccette in prossimità del rifugio richiede attenzione. <br>
      <b>Tempo di salita</b>: 2:30 - 3:00 ore a secondo delle condizioni del sentiero (bagnato o asciutto)<br>
      <b>Segnaletica</b>: Triangoli e bolli gialli dell'Alta Via della Valmalenco fino alla deviazione segnalata da un cartello metallico con la bandiera bianco/rossa del CAI.<br>
      <b>Dislivello</b>: 1000 metri<br>
      <b>Descrizione</b>: Dopo il ponticello seguire le indicazioni per il il rifugio Tartaglione
      e dopo avere superato un gruppo di baite (località Forbicine), lasciare il sentiero per
      il Tartaglione e seguire i simboli gialli dell'Alta Via. Dopo alcuni saliscendi si giunge
      alla deviazione (cartello metallico del CAI). Il sentiero si inerpica prima nel bosco e quindi
      in un canalone roccioso (attenzione: il canalone non deve essere percorso interamente; poco
      oltre la sua metà il sentiero esce sulla sinistra). Si arriva ad un gruppo di baite in un prato
      (Alpe Sissone).<br>Da qui si vede il rifugio, che deve essere il punto di riferimento da qui in poi,
      poiché il sentiero diventa poco evidente nell'erba. Si giunge infine alla piccola parete di
      roccette (la stessa dell'itinerario n. 2) da superare con arrampicata di primo grado.<br>
      Seguendo il costone di sfasciumi si giunge al rifugio.<br>
      </p>

	  <p><br><br>Il Rifugio Del Grande è una tappa dell'Alta Via della Valmalenco e il punto di partenza per escursioni e ascensioni. Per ulteriori informazioni, visitate la pagina del <a href="/rifugio#percorsi">Rifugio</a>.</p>

      <h2>Mappe</h2>
      <img src="../static/images/f_rif_map_vista.jpg" alt="Il Rifugio visto da Chiareggio">
      <img src="../static/images/f_rif_map_min.jpg" alt="Il Rifugio sulle mappe ufficiali">
      <p><a href="../static/images/f_rif_mappa_max.tif" >Clicca qui</a> se vuoi scaricare la mappa più estesa e con maggiori dettagli. (Il file è da 3.5MB)</p>
    </div>

{% endblock %}
