{% extends "base/main.html" %}

{% set bootstrap=1 %}

{% block body %}
	<div class="text">
	  <h1>Lavori di Ampliamento</h1>
	  <p>Ecco le foto che testimoniano i vari interventi di ampliamento effettuati dal
	  CAI Sovico durante la gestione del rifugio Mario Del Grande - Remo Camerini.</p>
		   
	  <h4 id="foto">1. Gli ultimi lavori del 2012 con la costruzione del bivacco invernale e il nuovo bagno ospiti</h4>
	  <div id="carousel-4" class="slideshow carousel slide" data-ride="carousel">
		<!-- Wrapper for slides -->
		<div class="carousel-inner" role="listbox">
		  <div class="item active">
			<img src="../static/images/slideshow-ampliamenti/4/f_rif_1_trasporto.jpg" alt="1. Il trasporto delle attrezzature da cantiere presso il rifugio">
			<div class="carousel-caption">
			  <p>1. Il trasporto delle attrezzature da cantiere presso il rifugio</p>
			</div>
		  </div>
		  <div class="item">
			<img src="../static/images/slideshow-ampliamenti/4/f_rif_2_scavi.jpg" alt="2. Inizio lavori con la rimozione di alcune rocce vicine al rifugio">
			<div class="carousel-caption">
			  <p>2. Inizio lavori con la rimozione di alcune rocce vicine al rifugio</p>
			</div>
		  </div>
		  <div class="item">
			<img src="../static/images/slideshow-ampliamenti/4/f_rif_3_tetto.jpg" alt="3. Posa del tetto in legno">
			<div class="carousel-caption">
			  <p>3. Posa del tetto in legno</p>
			</div>
		  </div>
		  <div class="item">
			<img src="../static/images/slideshow-ampliamenti/4/f_rif_4_finito.jpg" alt="4. Vista di insieme rifugio piu bivacco">
			<div class="carousel-caption">
			  <p>4. Vista di insieme rifugio e bivacco</p>
			</div>
		  </div>
		  <div class="item">
			<img src="../static/images/slideshow-ampliamenti/4/f_rif_5_interno1.jpg" alt="5. Vista interna del bivacco">
			<div class="carousel-caption">
			  <p>5. Vista interna del bivacco</p>
			</div>
		  </div>
		  <div class="item">
			<img src="../static/images/slideshow-ampliamenti/4/f_rif_6_interno2.jpg" alt="6. Vista interna del bivacco con i 4 posti letto">
			<div class="carousel-caption">
			  <p>6. Vista interna del bivacco con i 4 posti letto</p>
			</div>
		  </div>
		  <div class="item">
			<img src="../static/images/slideshow-ampliamenti/4/f_rif_7_diga.jpg" alt="7. La piccola diga in acciaio per la presa delle acqua">
			<div class="carousel-caption">
			  <p>7. La piccola diga in acciaio per la presa delle acqua</p>
			</div>
		  </div>
		  <div class="item">
			<img src="../static/images/slideshow-ampliamenti/4/f_rif_8_cassoni.jpg" alt="8. I nuovi cassoni per coprire i bidoni dei rifiuti">
			<div class="carousel-caption">
			  <p>8. I nuovi cassoni per coprire i bidoni dei rifiuti</p>
			</div>
		  </div>
		  <div class="item">
			<img src="../static/images/slideshow-ampliamenti/4/f_rif_9_eolico.jpg" alt="9. Nuovo generatore microeolico da abbinare a quello solare">
			<div class="carousel-caption">
			  <p>9. Nuovo generatore microeolico da abbinare a quello solare</p>
			</div>
		  </div>
		  <div class="item">
			<img src="../static/images/slideshow-ampliamenti/4/f_rif_10_riscalda.jpg" alt="10. Condotte di aria calda per riscaldare la zona gestori">
			<div class="carousel-caption">
			  <p>10. Condotte di aria calda per riscaldare la zona gestori</p>
			</div>
		  </div>
		  <div class="item">
			<img src="../static/images/slideshow-ampliamenti/4/f_rif_11_filtro.jpg" alt="11. Filtro per scarico vasca imhoff">
			<div class="carousel-caption">
			  <p>11. Filtro per scarico vasca imhoff</p>
			</div>
		  </div>
		</div>
		<!-- Controls -->
		<a class="left carousel-control" href="#carousel-4" role="button" data-slide="prev">
		  <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
		  <span class="icon-prev"><</span>
		</a>
		<a class="right carousel-control" href="#carousel-4" role="button" data-slide="next">
		  <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
		  <span class="icon-next">></span>
		</a>
		  </div>


		  <h4 id="foto">2. I lavori di miglioramento eseguiti negli ultimi anni dal 2008 al 2011</h4>
		  <div id="carousel-3" class="slideshow carousel slide" data-ride="carousel">
		<!-- Wrapper for slides -->
		<div class="carousel-inner" role="listbox">
		  <div class="item active">
			<img src="../static/images/slideshow-ampliamenti/3/f_rif_1_recinto.jpg" alt="1. Il nuovo recinto per i rifiuti costruito è amovibile">
			<div class="carousel-caption">
			  <p>1. Il nuovo recinto per i rifiuti costruito è amovibile</p>
			</div>
		  </div>
		  <div class="item">
			<img src="../static/images/slideshow-ampliamenti/3/f_rif_2_stufa.jpg" alt="2. La potentissima stufa con il forno usato anche per fare il pane">
			<div class="carousel-caption">
			  <p>2. La potentissima stufa con il forno usato anche per fare il pane</p>
			</div>
		  </div>
		  <div class="item">
			<img src="../static/images/slideshow-ampliamenti/3/f_rif_3_antoni.jpg" alt="3. Antoni in legno per chiudere i vani sotto la balconata">
			<div class="carousel-caption">
			  <p>3. Antoni in legno per chiudere i vani sotto la balconata</p>
			</div>
		  </div>
		  <div class="item">
			<img src="../static/images/slideshow-ampliamenti/3/f_rif_4_vasca.jpg" alt="4. La nuova e più grande vasca per la raccolta dell' acqua">
			<div class="carousel-caption">
			  <p>4. La nuova e più grande vasca per la raccolta dell'acqua</p>
			</div>
		  </div>
		  <div class="item">
			<img src="../static/images/slideshow-ampliamenti/3/f_rif_5_tubo.jpg" alt="5. La posa della tubazione del nuovo impianto idraulico">
			<div class="carousel-caption">
			  <p>5. La posa della tubazione del nuovo impianto idraulico</p>
			</div>
		  </div>
		  <div class="item">
			<img src="../static/images/slideshow-ampliamenti/3/f_rif_6_porta.jpg" alt="6. Installata una presa di aerazione sulla porta della cucina">
			<div class="carousel-caption">
			  <p>6. Installata una presa di aerazione sulla porta della cucina</p>
			</div>
		  </div>
		  <div class="item">
			<img src="../static/images/slideshow-ampliamenti/3/f_rif_7_piastrella.jpg" alt="7. Piastrellato il corridoio che porta alle camere interne">
			<div class="carousel-caption">
			  <p>7. Piastrellato il corridoio che porta alle camere interne</p>
			</div>
		  </div>
		  <div class="item">
			<img src="../static/images/slideshow-ampliamenti/3/f_rif_8_prato.jpg" alt="8. Ricoperto con terriccio e seminato nella zona davanti al rifugio">
			<div class="carousel-caption">
			  <p>8. Ricoperto con terriccio e seminato nella zona davanti al rifugio</p>
			</div>
		  </div>
		</div>
		<!-- Controls -->
		<a class="left carousel-control" href="#carousel-3" role="button" data-slide="prev">
		  <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
		  <span class="icon-prev"><</span>
		</a>
		<a class="right carousel-control" href="#carousel-3" role="button" data-slide="next">
		  <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
		  <span class="icon-next">></span>
		</a>
		  </div>


		  <h4 id="foto">3. Foto dei lavori dal 2005 l'inizio dei lavori di ampliamento, fino al 2008</h4>
		  <div id="carousel-2" class="slideshow carousel slide" data-ride="carousel">
		<!-- Wrapper for slides -->
		<div class="carousel-inner" role="listbox">
		  <div class="item active">
			<img src="../static/images/slideshow-ampliamenti/2/f_rif_1_demolizioni.jpg" alt="1. Le fasi di scavo a fianco della parte preesistente">
			<div class="carousel-caption">
			  <p>1. Le fasi di scavo a fianco della parte preesistente</p>
			</div>
		  </div>
		  <div class="item">
			<img src="../static/images/slideshow-ampliamenti/2/f_rif_2_elicemento.jpg" alt="2. Il Cemento Armato per le gettate portato in quota con un elicottero">
			<div class="carousel-caption">
			  <p>2. Il Cemento Armato per le gettate portato in quota con un elicottero</p>
			</div>
		  </div>
		  <div class="item">
			<img src="../static/images/slideshow-ampliamenti/2/f_rif_3_soletta.jpg" alt="3. La gettata per la soletta della nuova ala del rifugio">
			<div class="carousel-caption">
			  <p>3. La gettata per la soletta della nuova ala del rifugio</p>
			</div>
		  </div>
		  <div class="item">
			<img src="../static/images/slideshow-ampliamenti/2/f_rif_4_tetto.jpg" alt="4. La costruzione dell tetto in cemento armato per reggere la neve">
			<div class="carousel-caption">
			  <p>4. La costruzione dell tetto in cemento armato per reggere la neve</p>
			</div>
		  </div>
		  <div class="item">
			<img src="../static/images/slideshow-ampliamenti/2/f_rif_5_quasifinito.jpg" alt="5. La costruzione quasi finita, mancano ancora le finiture interne">
			<div class="carousel-caption">
			  <p>5. La costruzione quasi finita, mancano ancora le finiture interne</p>
			</div>
		  </div>
		  <div class="item">
			<img src="../static/images/slideshow-ampliamenti/2/f_rif_6_pavimento.jpg" alt="6. Realizzazione del nuovo pavimento nella parte vecchia">
			<div class="carousel-caption">
			  <p>6. Realizzazione del nuovo pavimento nella parte vecchia</p>
			</div>
		  </div>
		  <div class="item">
			<img src="../static/images/slideshow-ampliamenti/2/f_rif_7_pannelli.jpg" alt="7. I pannelli solari che forniscono energia elettrica al rifugio">
			<div class="carousel-caption">
			  <p>7. I pannelli solari che forniscono energia elettrica al rifugio</p>
			</div>
		  </div>
		  <div class="item">
			<img src="../static/images/slideshow-ampliamenti/2/f_rif_8_quadro.jpg" alt="8. Il quadro dell'impianto elettrico che genera 220V 600W">
			<div class="carousel-caption">
			  <p>8. Il quadro dell'impianto elettrico che genera 220V 600W</p>
			</div>
		  </div>
		  
		</div>
		<!-- Controls -->
		<a class="left carousel-control" href="#carousel-2" role="button" data-slide="prev">
		  <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
		  <span class="icon-prev"><</span>
		</a>
		<a class="right carousel-control" href="#carousel-2" role="button" data-slide="next">
		  <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
		  <span class="icon-next">></span>
		</a>
		  </div>


		  <h4 id="foto">4. Alcune foto dei lavori eseguiti al rifugio dal 1984 data di acquisizione del CAI Sovico, al 2005</h4>
		  <div id="carousel-1" class="slideshow carousel slide" data-ride="carousel">
		<!-- Wrapper for slides -->
		<div class="carousel-inner" role="listbox">
		  <div class="item active">
			<img src="../static/images/slideshow-ampliamenti/1/f_rif_1_bivacco.jpg" alt="1. Lavori di costruzione del primo bivacco/magazzino a lato del rifugio">
			<div class="carousel-caption">
			  <p>1. Lavori di costruzione del primo bivacco/magazzino a lato del rifugio</p>
			</div>
		  </div>
		  <div class="item">
			<img src="../static/images/slideshow-ampliamenti/1/f_rif_2_bivacco_finito.jpg" alt="2. Il bivacco alla fine dei lavori">
			<div class="carousel-caption">
			  <p>2. Il bivacco alla fine dei lavori</p>
			</div>
		  </div>
		  <div class="item">
			<img src="../static/images/slideshow-ampliamenti/1/f_rif_3_primo_bagno.jpg" alt="3. Il primo bagno era piccolo ma con un meraviglioso panorama">
			<div class="carousel-caption">
			  <p>3. Il primo bagno era piccolo ma con un meraviglioso panorama</p>
			</div>
		  </div>
		  <div class="item">
			<img src="../static/images/slideshow-ampliamenti/1/f_rif_4_cucina1.jpg" alt="4. La costruzione della piccola cucina di lamiera">
			<div class="carousel-caption">
			  <p>4. La costruzione della piccola cucina di lamiera</p>
			</div>
		  </div>
		  <div class="item">
			<img src="../static/images/slideshow-ampliamenti/1/f_rif_5_cucina2.jpg" alt="5. La costruzione della piccola cucina di lamiera">
			<div class="carousel-caption">
			  <p>5. La costruzione della piccola cucina di lamiera</p>
			</div>
		  </div>
		  
		</div>
		<!-- Controls -->
		<a class="left carousel-control" href="#carousel-1" role="button" data-slide="prev">
		  <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
		  <span class="icon-prev"><</span>
		</a>
		<a class="right carousel-control" href="#carousel-1" role="button" data-slide="next">
		  <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
		  <span class="icon-prev">></span>
		</a>
	  </div>
	</div>
{% endblock %}
