{% extends "base/main.html" %}

{% set bootstrap=1 %}

{% block body %}
<div class="text">

  <h1>Apertura stagione 2015:<br>27 Giugno  /  13 Settembre </h1>
  <p>Se volete visitare il rifugio durante il periodo di chiusura, visitate la sezione <a href="/rifugio/bivacco">Bivacco</a><br>
	 Potete assicurarvi che il rifugio sia aperto contattando i gestori al numero <b>0342 556010</b>.</p>
  <table id="index" class="index">
	<tbody>
	  <tr>
	    <td><a href="#posizione">Posizione</a></td>
	    <td><a href="#caratteristiche">Caratteristiche</a></td>
	  </tr>
	  <tr>
	    <td><a href="#percorsi">Percorsi</a></td>
	    <td><a href="#foto">Foto</a></td>
	  </tr>
	</tbody>
      </table>

      <h3 id="posizione">Posizione & Dati Geografici</h3>
      <table>
	<tbody>
	  <tr>
	    <td style="font-weight:bold;">Altitudine</td>
	    <td>2580ms/lm</td>
	  </tr>
	  <tr>
	    <td style="font-weight:bold;">Massiccio</td>
	    <td>Disgrazia Vazzeda</td>
	  </tr>
	  <tr>
	    <td style="font-weight:bold;">Località</td>
	    <td>Bocchetta Piattè di Vazzeda</td>
	  </tr>
	  <tr>
	    <td style="font-weight:bold;">Comune</td>
	    <td>Chiesa Valmalenco (SO) - Chiareggio</td>
	  </tr>
	  <tr>
	    <td style="font-weight:bold;">Coordinate</td>
	    <td>Lat. 46°18' 30.95"N&nbsp;&nbsp;&nbsp;Long. 9°44' 31.34"E</td>
	  </tr>
	</tbody>
      </table>

      <h3 id="caratteristiche">Caratteristiche del Rifugio</h3>
      <table>
	<tbody>
	  <tr>
	    <td style="font-weight:bold;">Costruito nel</td>
	    <td>1937</td>
	  </tr>
	  <tr>
	    <td style="font-weight:bold;">Proprietà</td>
	    <td>CAI SOVICO</td>
	  </tr>
	  <tr>
	    <td style="font-weight:bold;">Posti letto </td>
	    <td>6 Ospiti+2 Brande e 4 nel Bivacco</td>
	  </tr>
	  <tr>
	    <td style="font-weight:bold;">Locale Invernale </td>
	    <td>Terminato nel 2013</td>
	  </tr>
	  <tr>
	    <td style="font-weight:bold;">Telefono</td>
	    <td>0342 / 556010</td>
	  </tr>
	</tbody>
      </table>
      
      <h3 id="percorsi">Percorsi dal Rifugio</h3>
      <table>
	<tbody>
	  <tr>
	    <td style="font-weight:bold;">Ascensioni</td>
	    <td>Cima Vazeda (difficile)<br>
		Cima di Valbona<br>
		Monte Forno<br>
	    </td>
	  </tr>
	  <tr>
	    <td style="font-weight:bold;">Sci Alpinismo</td>
	    <td>Cima di Rosso<br>
		Monte Sissone<br>
		Passo Vazzeda<br>
	    </td>
	  </tr>
	  <tr>
	    <td style="font-weight:bold;">Traversate</td>
	    <td>Al Rifugio Forno (Svizzera)<br>
		Val di Mello per il passo di mello (Alpinistica)<br>
		Al Rifugio Porro (3° Tappa Altavia della Valmalenco)<br>
		Al Rifugio Longoni (4° Tappa Altavia della Valmalenco)<br>
		Passo del Maloia per il Passo del Muretto (Svizzera)<br>
	    </td>
	  </tr>
	  <tr>
	    <td style="font-weight:bold;">Cartografia</td>
	    <td>Carta C.T.R. 1:10'000 Foglio C2C4<br>
		Ufficio Federale di Topografia Svizzero Foglio 278 M. Disgrazia 1:50'000<br>
		Kompass Sentiero italia tratto Nord Lombardia n°6766 1:50'000<br>
	    </td>
	  </tr>
	</tbody>
      </table>

      
      <h3 id="foto">Foto Gallery</h3>
      <p> </p>
      <div id="carousel" class="slideshow carousel slide" data-ride="carousel">
	<!-- Indicators 
	<ol class="carousel-indicators">
	  <li data-target="static/images/slideshow-rifugio/1-foto_vistaext.jpg" data-slide-to="0" class="active"></li>
	  <li data-target="static/images/slideshow-rifugio/2-foto_fronte.jpg" data-slide-to="1"></li>
	  <li data-target="static/images/slideshow-rifugio/3-foto_interno1.jpg" data-slide-to="2"></li>
	  <li data-target="static/images/slideshow-rifugio/4-foto_interno2.jpg" data-slide-to="3"></li>
	  <li data-target="static/images/slideshow-rifugio/5-foto_soppalco.jpg" data-slide-to="4"></li>
	  <li data-target="static/images/slideshow-rifugio/6-foto_interno3.jpg" data-slide-to="5"></li>
	  <li data-target="static/images/slideshow-rifugio/7-foto_cucina.jpg" data-slide-to="6"></li>
	  <li data-target="static/images/slideshow-rifugio/8-foto_panorama.jpg" data-slide-to="7"></li>
	  <li data-target="static/images/slideshow-rifugio/9-foto_stambecco.jpg" data-slide-to="8"></li>
	  <li data-target="static/images/slideshow-rifugio/10-foto_marmotta.jpg" data-slide-to="9"></li>
	  <li data-target="static/images/slideshow-rifugio/11-foto_extsera.jpg" data-slide-to="10"></li>
	</ol> -->
	<!-- Wrapper for slides -->
	<div class="carousel-inner" role="listbox">
	  <div class="item active">
	    <img src="../static/images/slideshow-rifugio/1-foto_vistaext.jpg" alt="1. Vista del rifugio con la parete nord del M.Disgrazia">
	    <div class="carousel-caption">
	      <p>1. Vista del rifugio con la parete nord del M.Disgrazia</p>
	    </div>
	  </div>
	  <div class="item">
	    <img src="../static/images/slideshow-rifugio/2-foto_fronte.jpg" alt="2. Vista frontale del rifugio con il nuovo bivacco">
	    <div class="carousel-caption">
	      <p>2. Vista frontale del rifugio con il nuovo bivacco</p>
	    </div>
	  </div>
	  <div class="item">
	    <img src="../static/images/slideshow-rifugio/3-foto_interno1.jpg" alt="3. Interno del Rifugio">
	    <div class="carousel-caption">
	      <p>3. Interno del Rifugio</p>
	    </div>
	  </div>
	  <div class="item">
	    <img src="../static/images/slideshow-rifugio/4-foto_interno2.jpg" alt="4. Sala da pranzo">
	    <div class="carousel-caption">
	      <p>4. Sala da pranzo</p>
	    </div>
	  </div>
	  <div class="item">
	    <img src="../static/images/slideshow-rifugio/5-foto_soppalco.jpg" alt="5. Il Soppalco con 4 comodi letti">
	    <div class="carousel-caption">
	      <p>5. Il Soppalco con 4 comodi letti</p>
	    </div>
	  </div>
	  <div class="item">
	    <img src="../static/images/slideshow-rifugio/6-foto_interno3.jpg" alt="6. Interno a lume di candela">
	    <div class="carousel-caption">
	      <p>6. Interno a lume di candela</p>
	    </div>
	  </div>
	  <div class="item">
	    <img src="../static/images/slideshow-rifugio/7-foto_cucina.jpg" alt="7. La nuova cucina">
	    <div class="carousel-caption">
	      <p>7. La nuova cucina</p>
	    </div>
	  </div>
	  <div class="item">
	    <img src="../static/images/slideshow-rifugio/8-foto_panorama.jpg" alt="8. Colazione con vista sul M. Disgrazia">
	    <div class="carousel-caption">
	      <p>8. Colazione con vista sul M. Disgrazia</p>
	    </div>
	  </div>
	  <div class="item">
	    <img src="../static/images/slideshow-rifugio/9-foto_stambecco.jpg" alt="9. Uno stambecco che da qualche anno visita il nostro rifugio">
	    <div class="carousel-caption">
	      <p>9. Uno stambecco che da qualche anno visita il nostro rifugio</p>
	    </div>
	  </div>
	  <div class="item">
	    <img src="../static/images/slideshow-rifugio/10-foto_marmotta.jpg" alt="10. Anche alcune marmotte si avvicinano alla balconata">
	    <div class="carousel-caption">
	      <p>10. Anche alcune marmotte si avvicinano alla balconata</p>
	    </div>
	  </div>
	  <div class="item">
	    <img src="../static/images/slideshow-rifugio/11-foto_extsera.jpg" alt="11. Esterno del rifugio di sera">
	    <div class="carousel-caption">
	      <p>11. Esterno del rifugio di sera</p>
	    </div>
	  </div>
	</div>
	<!-- Controls -->
	<a class="left carousel-control" href="#carousel" role="button" data-slide="prev">
	  <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
	  <span class="sr-only">Previous</span>
	</a>
	<a class="right carousel-control" href="#carousel" role="button" data-slide="next">
	  <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
	  <span class="sr-only">Next</span>
	</a>
  </div>
  
</div>

{% endblock %}
