{% extends "base/main.html" %}

{% block body %}
<div class="text">
	<h2>La sede del CAI Sovico è aperta</h2>
	<h1>Martedì e Venerdì</h1><h1> dalle 21:00 alle 22:30</h1>

	<div style="overflow:hidden;">
		<h3>Dove siamo</h3>
		<img src="static/images/f_sez_sede.jpg" alt="Ex Serra Tagliabue">
		<p>La Sede del CAI di Sovico si trova in:</p>
		<p style="font-weight:bold;text-align:center;">Ex Serra Tagliabue<br>Viale Brianza<br>20845 SOVICO (MB)</p>
		<p>Per avere istruzioni su come raggiungere la sede del CAI Sovico, 
		<a href="http://maps.google.it/maps?f=d&amp;source=s_d&amp;saddr=Vicolo+Brianza&amp;daddr=&amp;geocode=FciOuAIdJlyNAA&amp;hl=it&amp;mra=mift&amp;sll=45.649786,9.264404&amp;sspn=0.004395,0.010943&amp;ie=UTF8&amp;t=h&amp;z=17" target="_blank"> clicca qui</a>
		(Google Maps Logo)</p>
	</div>
    
    <h3>Incarichi di Sezione:</h3>
    <table >
      <tbody>
		<tr>
		  <td>Presidente:</td>
		  <td>Valter Zorloni</td>
		</tr>
		<tr>
		  <td>Vice presidente:</td>
		  <td>Antonio Ferloni</td>
		</tr>
		<tr>
		  <td>Segretario:</td>
		  <td>Stefano Sala</td>
		</tr>
		<tr>
		  <td>Revisori dei conti:</td>
		  <td>Daniele Beccalli<br>Canzi Daniela<br>Paolo Zanzottera</td>
		</tr>
		<tr>
		  <td>Responsabile attività escursionistiche:</td>
		  <td>Stefano Vertemati</td>
		</tr>
		<tr>
		  <td>Responsabile del rifugio:</td>
		  <td>Giorgio Chiusi</td>
		</tr>
		<tr>
		  <td>Aiuto responsabile rifugio:</td>
		  <td>Paolo Zanzottera</td>
		</tr>
		<tr>
		  <td>Materiali e sede:</td>
		  <td>Giulio Canzi</td>
		</tr>
		<tr>
		  <td>Ispettore del Rifugio:</td>
		  <td>Angelo Canzi</td>
		</tr>
		<tr>
		  <td>Responsabile Manifestazioni:</td>
		  <td>Roberto Piazza</td>
		</tr>
		<tr>
		  <td>Sito Internet:</td>
		  <td>Paolo Zanzottera</td>
		</tr>
		<tr>
		  <td>Gestione del rifugio:</td>
		  <td>A turno fra i soci e simpatizzanti<br>
		  </td>
		</tr>
	  </tbody>
    </table>
</div>
{% endblock %}
