{% extends "base/main.html" %}

{% block body %}
<div class="text">
    <h1>Quote Sociali per l'anno 2015</h1>
    
	<p class="warning">Si ricorda che senza il bollino 2015 la copertura assicurativa scadrà a Marzo 2015<br> </p>

    <ul class="center">
      <li><p>Soci Ordinari : <b>43.00</b> Euro</p></li>
      <li><p>Soci Ordinari tra i 18 e 25 Anni: <b>22.00</b> Euro</p></li>
      <li><p>Soci Famigliari: <b>22.00</b> Euro</p></li>
      <li><p>Soci Famigliari Giovani: <b>16.00</b> Euro (9.00 Euro a partire dal secondo)</p></li>
    </ul>
    
    <p align="center"><small>Vedi la pagina <a href="assicurazioni">Assicurazioni</a> per maggiori informazioni sulle polizze assicurative messe a disposizione dal CAI a Soci e non Soci durante le attività escursionistiche. </small></p>
    
</div>
{% endblock %}
