{% extends "base/main.html" %}

{% block body %}
<div class="text">
    <h1>Contatti</h1>

    <p>Per comunicare con noi potete inviare una mail a <a href="mailto:sezione@caisovico.it">sezione@caisovico.it</a></p>
    <p>Se invece volete segnalare qualcosa riguardo al sito internet, consultate prima la sezione
	<a href="/webmaster/feedback">Feedback</a> nella pagina del webmaster.</p>
    <h3>Contatti Telefonici</h3>
    <table>
      <tbody>
		<tr>
		  <td>Presidente</td>
		  <td>Zorloni Valter</td>
		  <td>347 7079737</td>
		</tr>
		<tr>
		  <td>Vice Presidente</td>
		  <td>Ferloni Antonio</td>
		  <td>039-2010724</td>
		</tr>
		<tr>
		  <td>Responsabile Gite</td>
		  <td>Vertemati Stefano</td>
		  <td>039-2013512</td>
		</tr>
      </tbody>
    </table>
    
</div>
{% endblock %}
