{% extends "web-res-home.html" %}

{% block content %}
    
    <h2>Elimina</h2>
    
    {% if deleted %}
        <p style="font-weight:bold; text-align:center; color:green">L'elemento è stato eliminato</p>
        <a href='/pannello/area-riservata'><button class='backbuttonstyle'>Indietro</button></a>
    {% else %}
        
        {% if upload=='fail' %}
            <p style="text-align:center;color:red">{{ msg }}</p>
        {% elif upload=='success' %}
            <p style="text-align:center;color:green">{{ msg }}</p>
        {% endif %}
        
        <form method=POST enctype=multipart/form-data>
          <input class='delbuttonstyle' type='submit' value='ELIMINA TUTTO'>
          
          <div class="boxup">
          {% if obj=='news' %}
            <div style="text-align:right;">
                <input class='data' name="data" id="datepick" value='{{ item.date }}' type="text" placeholder="Data..."/ disabled>
            </div>
            <div style="text-align:center;">
                <input class="title" name='titolo' value='{{ item.title }}' type="text" placeholder="Titolo..." disabled>
                <textarea class='textfield' type="text" name='testo' placeholder="Testo..." disabled>{{ item.content }}</textarea>
            </div>
            
            {% if item.pics or item.addphoto %}
            {% for photo in item.pics %}
            <div class='photobox' style='background-color:lightgrey;'>
                <input class="caption" name='descrizione{{ photo[0] }}' value='{{ photo[1] }}' type="text" placeholder="Titolo..." disabled>
                <img src="/uploads/photos/{{ photo[2] }}" title="{{ photo[1] }}" alt="ERRORE: Foto mancante. Contatta il webmaster.">
            </div>
            {% endfor %}
            {% endif %}  
                
            
          {% elif obj=='note' %}
            <div style="text-align:center;">
            <h3>Nota:</h3>
                <textarea name='testo' class='nota' type="text" placeholder="Testo..." disabled>{{ item.content }}</textarea>
            </div>
          {% elif obj=='doc' %}
            <div style="text-align:center;">
            <h3>Documento:</h3>
                <p>
                <input name='descrizione' type='text' value='{{ item.title }}' placeholder='Titolo del documento...' disabled>
                </p>
            </div>
          
            </form>
            
            {% else %}
            <h1>ERRORE</h1>
            {% endif %}
            
        </div>
        
        <a href='/pannello/area-riservata' class='backbuttonstyle'>Indietro</a>


        {% if obj=='news' %}
        <link href="/static/css/datepickr.css" rel="stylesheet">
        <script type="text/javascript" src="/static/javascript/datepickr.min.js"></script>
        <script type="text/javascript">
            new datepickr('datepick', {
                'dateFormat': 'd/m/Y'
            });
        </script>
        {% endif %}
        
    {% endif %}
    
{% endblock %}
