{% extends "web-res-home.html" %}

{% block content %}
    
    {% if item %}
        <h2>Modifica</h2>
    {% else %}
        <h2>Upload</h2>
    {% endif %}
    
    
    {% if upload=='fail' %}
        <p style="text-align:center;color:red">{{ msg }}</p>
    {% endif %}
    {% if upload=='success' %}
        <p style="text-align:center;color:green">{{ msg }}</p>
    {% endif %}

    <div class="boxup">
    {% if obj=='news' or obj=='note' or obj=='doc' %}
        <form method=POST enctype=multipart/form-data>

      {% if obj=='news' %}
        <div style="text-align:right;">
            <input class='data' name="data" id="datepick" value='{{ item.date }}' type="text" placeholder="Data..."/>
        </div>
        <div style="text-align:center;">
            <input class="title" name='titolo' value='{{ item.title }}' type="text" placeholder="Titolo...">
            <textarea class='textfield' type="text" name='testo' placeholder="Testo...">{{ item.content }}</textarea>
        </div>
        
        <div class='aligner'>
        {% if item.pics %}
            {% for photo in item.pics %}
            <div class='photobox'>
                <input class="caption" name='descrizione{{ photo[0] }}' value='{{ photo[1] }}' type="text" placeholder="Titolo...">
                <img src="/uploads/photos/{{ photo[2] }}" title="{{ photo[1] }}" alt="ERRORE: Foto mancante. Contatta il webmaster.">
                <h4>Cambia Foto:<input class='filepkr' name='foto{{ photo[0] }}' type='file'></h4>
                <a href='../../delete/{{obj}}/{{ item.id }}/{{ photo[0] }}' class='s-delbuttonstyle'><p>ELIMINA</p></a>
            </div>
            {% endfor %}
            {% if item.addphoto %}
            <div class='photobox'>
                <input class="caption" name='descrizione' type="text" placeholder="Titolo...">
                <img src="/static/images/addpic.png" title="Aggiungi una Foto" alt="ERRORE: Foto mancante. Contatta il webmaster.">
                <p>Nuova Foto:<input class='filepkr' name='foto' type='file'></p>
            </div>
            {% endif %}
                    
        {% else %}
            {% for n in (0,1,2,3,4) %}
            <div class='photobox'>
                <input class="caption" name='descrizione{{ n }}' type="text" placeholder="Titolo...">
                <img src="/static/images/addpic.png" title="Aggiungi una Foto" alt="ERRORE: Foto mancante. Contatta il webmaster.">
                <p>Nuova Foto:<input class='filepkr' name='foto{{ n }}' type='file'></p>
            </div>
            {% endfor %}
        {% endif %}
        </div>
        
      {% elif obj=='note' %}
        <div style="text-align:center;">
        <h3>Nota:</h3>
            <textarea name='testo' class='nota' type="text" placeholder="Testo...">{{ item.content }}</textarea>
        </div>
      {% elif obj=='doc' %}
        <div style="text-align:center;">
        <h3>Documento:</h3>
            <p>
            {% if item %}
            CANCELLA il documento vecchio e sostituiscilo con:<br>
            {% endif %}
            <input name='doc' type='file'>
            {% if item %}
            <br><br>OPPURE<br><br>
            CAMBIA IL NOME del vecchio documento con:<br>
            {% endif %}
            <input name='descrizione' type='text' value='{{ item.title }}' placeholder='Titolo del documento...'>
            </p>
        </div>
      {% endif %}
            <input class='buttonstyle' type='submit' value='Upload'>
        </form>	
    {% else %}
        <h1>ERRORE</h1>
    {% endif %}
    </div>
    
    {% if item %}
    <a href='/pannello/area-riservata/manage/{{ obj }}' class='backbuttonstyle'>Indietro</a>
    {% else %}
    <a href='/pannello/area-riservata' class='backbuttonstyle'>Indietro</a>
    {% endif %}


    {% if obj=='news' %}
    <link href="/static/css/datepickr.css" rel="stylesheet">
    <script type="text/javascript" src="/static/javascript/datepickr.min.js"></script>
    <script type="text/javascript">
        new datepickr('datepick', {
            'dateFormat': 'd/m/Y'
        });
    </script>
    {% endif %}
    
{% endblock %}
