{% extends "web-res-home.html" %}

{% block content %}

    <h2>Foto</h2>
        
    {% if upload=='fail' %}
        <p style="text-align:center;color:red">{{ msg }}</p>
    {% endif %}
    {% if upload=='success' %}
        <p style="text-align:center;color:green">{{ msg }}</p>
    {% endif %}
    
    
    <div class='boxup' style='text-align:center;'>

    {% if new %}
        <h3>Aggiungi la nuova foto:</h3>
        <form method=POST enctype=multipart/form-data>
            <input type='checkbox' class='hidden' value='new' name='new' checked='yes' disabled>
            <p><input name='foto' type='file'><br>
            <input class='caption' name='descrizione' type='text' placeholder="Descrizione..."></p>
            <input class='buttonstyle' type='submit' value='Upload'>
        </form>

    {% else %}
      <h3>Foto selezionata:</h3>
      <img style="border:1px solid black;"  src="/uploads/photos/{{ item[2] }}" title="{{ item[1] }}" alt="ERRORE: Foto mancante. Contatta il webmaster.">
      <p>" {{ item[1] }} "</p>
      
      <hr>
      <h4>Se vuoi sostituire la foto:</h4>
        <form method=POST enctype=multipart/form-data>
            <input type='checkbox' class='hidden' value='new' name='new' disabled>
            <input name='foto' type='file'>
      <hr>
      <h4>Se vuoi cambiare la didascalia:
            <input class='caption' name='descrizione' type='text' value='{{ item[1] }}' placeholder="Descrizione..."></h4>
            <input class='buttonstyle' type='submit' value='Upload'>
        </form>
      
    {% endif %} 
    </div>
    
    <a href='../../{{ id }}'><button class='backbuttonstyle'>Indietro</button></a>

{% endblock %}
