{% extends "web-res-home.html" %}

{% block content %}

    <h2>Modifica</h2>

    <p style='text-align:center;'>Clicca sulla riga da modificare</p>
    
    <div class='pseudotable'>
      {% if lista==[] %}
        <a href='#'>
          <div class='pseudorow'>
              <p class='tabletitle' style='font-style:italic;'>Nessun elemento trovato</p>
          </div>
        </a>
      {% endif %}
      {% for item in lista %}
        <a href='{{ obj }}/{{ item.id }}'>
          <div class='pseudorow'>
            {% if obj=='news' %}
              <p class='tabletitle'>{{ item.title }}</p>
              <p class='tabledata'>{{ item.date }}</p>
            {% elif obj=='note' %}
              <p class='tabletitle'>{{ item.title }}</p>
            {% elif obj=='doc' %}
              <p class='tabletitle'>{{ item.title }}</p>
            {% else %}
              <p style='text-align:center;color:red'>{{ item.title }}</p> <!-- Useful for some error messages -->
            {% endif %}
          </div>
        </a>
      {% endfor %}
    </div>
    
    <a href='/pannello/area-riservata'><button class='backbuttonstyle'>Indietro</button></a>

{% endblock %}
