{% extends "base/main.html" %}

{% block body %}
<div class="text">
    <h1>Feedback</h1>
    <p>Se avete riscontrato qualche problema con il sito o avete qualsiasi cosa da segnalare,
    il modo migliore per contattarmi è inviando una mail a <a href='mailto:webmaster@caisovico.it'>webmaster@caisovico.it</a></p>
    <p>Se volete avere più informazioni sul webmaster o su come è stato sviluppato questo sito,
     visitate la pagina <a href="webmaster">Webmaster</a>.</p>
    <p>Per contattare la sede del CAI di Sovico invece consultate la pagina <a href="/sezione/contatti">Contatti</a>
      della categoria <a href="/sezione">Sezione</a>.</p>
    <p><b>NOTA:</b> Se navigate da una vecchia versione di Internet Explorer e
       qualcosa ha reso la vostra navigazione difficile, o persino impossibile,
       per favore segnalatelo il prima possibile tramite la webmail del sito:
       <b>webmaster@caisovico.it</b><br> Mi scuso fin d'ora per aver poco badato
       alla compatibilità con i browser più vecchi.
    </p>
</div>
{% endblock %}
