{% extends "web-res-home.html" %}

{% block content %}

    {% if obj=='news' %}
    <h2>Notizie</h2>
    {% elif obj=='note' %}
    <h2>Note</h2>
    {% elif obj=='doc' %}
    <h2>Documenti</h2>
    {% endif %}
    <a href='/pannello/area-riservata/upload/{{ obj }}' class='btn-upload buttonstyle'>Nuovo</a>
    
    {% if msg %}
    <p style='text-align:center;color:red'>{{ msg }}</p> <!-- Useful for some error messages -->
    {% endif %}
    
    <div class='pseudotable'>
      {% for item in lista %}
        <a href='{{ obj }}/{{ item.id }}'>
          <div class='pseudorow'>
            {% if obj=='news' %}
              <p class='tabletitle'>{{ item.title }}</p>
              <p class='tabledata'>{{ item.date }}</p>
            {% elif obj=='note' %}
              <p class='tabletitle'>{{ item.title }}</p>
            {% elif obj=='doc' %}
              <p class='tabletitle'>{{ item.title }}</p>
            {% endif %}
          </div>
        </a>
      {% endfor %}
    </div>
    
    <a href='/pannello/area-riservata' class='btn-back buttonstyle'>Indietro</a>

{% endblock %}
