{% extends "base/main.html" %}

{% block body %}
<div class="text">
    <h1>Pannello di Controllo</h1>
    <table>
      <tbody>
		<tr>
		  <td><a href="mailto:webmaster@caisovico.it"><img alt="Icona Web Master" src="../static/images/f_web_webmaster.jpg"></a></td>
		  <td><a href="webmaster-about.html"><img alt="Logo Web Master" src="../static/images/f_web_logo1.jpg"></a></td>
		</tr>
		<tr class="label">
		  <td><p><a href="mailto:webmaster@caisovico.it">Mailbox del Webmaster<br><small><i>webmaster@caisovico.it</i></small></a></p></td>
		  <td><p><a href="webmaster-about.html">About the Webmaster</a></p></td>
		</tr>
		<tr>
		  <td><a href="http://webmail.caisovico.it" target="blank"><img alt="Icona Web  Mail" src="../static/images/f_web_webmail.jpg"></a></td>
		  <td><a href="http://web-4.hosting.tiscali.it/" target="blank"><img alt="Icona Pannello di controllo" src="../static/images/f_web_pannello.jpg"></a></td>
		</tr>
		<tr class="label">
		  <td><p><a href="http://webmail.caisovico.it" target="blank">WEB MAIL di caisovico.it<br><i>(richiede Password)</i></a></p></td>
		  <td><p><a href="http://web-4.hosting.tiscali.it/" target="blank">Pannello di Controllo<br><i>(richiede Password)</i></a></p></td>
		</tr>
      </tbody>
    </table>    
</div>
{% endblock %}
