{% extends "base/main.html" %}

{% block body %}
<div class="text">
  <h1>Programma Gite 2015</h1>
  <p>Clicca sulla gita da modificare o premi il bottone Aggiungi  per aggiungere una gita.</p>

  <table class="calend">
	<tbody>

	  <tr>
	    <td><p>11 Gennaio</p></td>
	    <td><p><b>Alpe Prabello</b></p></td>
	  </tr>
	  <tr>
	    <td></td>
	    <td><p>Gita ad anello tra i rifugi CàRuncasch e Cristina, in un candido paradiso alle pendici del pizzo Scalino.</p></td>
	  </tr>

	  <tr>
	    <td><p>15 Febbraio</p></td>
	    <td><p><b>Trenino Rosso Val Roseg e Morterasc</b></p></td>
	  </tr>
	  <tr>
	    <td></td>
	    <td><p>Piacevole tour tra i monti della val Poschiavo ammirando i colossi del Bernina in un' atmosfera tutta invernale.</p></td>
	  </tr>

	  <tr>
	    <td><p>Data</p></td>
	    <td><p><b>Titolo</b></p></td>
	  </tr>
	  <tr>
	    <td></td>
	    <td><p>Descrizione</p></td>
	  </tr>
	  
	</tbody>
      </table>

      <p>Qui sotto si possono modificare le note in fondo alla pagina.</p>

     <table  class="calend">
	<tbody>
	  <tr>
	    <td><p>Data (Facoltativa)</p></td>
	    <td><p>Testo</p></td>
	  </tr>
	</tbody>
  </table>

   <a href='/pannello/area-riservata' class='btn-back buttonstyle'>Indietro</a>

</div>

 
{% endblock %}
