{% extends "base/main.html" %}

{% block body %}
<div class="text">
    <h1>Webmaster</h1>
    <img class="me" src="../static/images/f_web_me.jpg" alt="Me">
    <p>Questo sito è stato sviluppato da <b>Sara Zanzottera</b> (
      <a href="https://cn.linkedin.com/pub/sara-zan/b4/870/799" target="blank">Linkedin</a> in inglese).<br>
      Se il sito vi è piaciuto, sentitevi liberi di contattarmi per sviluppare anche il vostro!
    </p>
    <p>Nello sviluppo del front-end non e' stato impiegato nessun framework,
       solamente CSS e HTML standard. L'unico oggetto che non è stato sviluppato
       da me sono gli slideshow delle fotografie e i box laterali, gentilmente 
       concessi da <a href="http://getbootstrap.com" target="blank">Bootstrap</a>.<br>
       Il back-end invece è stato sviluppato con <a href="http://flask.pocoo.org" target="blank">Flask</a>,
       un microframework per Python.
    </p>
    <p><b>NOTA:</b> Se navigate da una vecchia versione di Internet Explorer, mi scuso
       per aver poco badato alla compatibilità con il vostro browser. Essendo
       questo il mio primo progetto, mi sto impegnando per garantire la migliore
       esperienza a tutti i visitatori. Se qualcosa ha reso la vostra navigazione
       difficile, o persino impossibile, per favore segnalatemelo il prima possibile 
       tramite la webmail del sito: <b>webmaster@caisovico.it</b>
    </p>
</div>   
{% endblock %}
