{% extends "web-res-home.html" %}

{% block content %}

    <h2>Post-it</h2>
    
    {% if msg %}
    <p style='text-align:center;color:red'>{{ msg }}</p> <!-- Useful for some error messages -->
    {% endif %}
    
    <div class="boxup">
    <form method=POST enctype=multipart/form-data>
    
    <div class="postit">
          <div class="postit-header">
              <img src="/static/images/postit-head.png">
          </div>
          <div class="postit-content">
              <textarea class='postit-text' type="text" name='postit1' placeholder="Testo...">{Testo del primo postit}</textarea>
          </div>
      </div>
      
      
      <div class="postit">
          <div class="postit-header">
              <img src="/static/images/postit-head.png">
          </div>
          <div class="postit-content">
              <textarea class='postit-text' type="text" name='postit2' placeholder="Testo...">{Testo del secondo postit}</textarea>
          </div>
      </div>
      
      
    <div style="float:left; width:100%">
     <input class='btn-upload buttonstyle' type='submit' value='Salva'>
    </div>
    
    
    </form>
    </div>
    
    <a href='/pannello/area-riservata' class='btn-back buttonstyle'>Indietro</a>

{% endblock %}
