{% extends "base/main.html" %}

{% block body %}
<div class="text">
    <a href="/pannello/area-riservata"><h1>Area Riservata</h1></a>
    
    {% block content %}

        <h2>Gestisci</h2>

        <table class="index">
           <tbody> 
              <tr>
                <td><a href="area-riservata/manage/news">Notizie</a></td>
                <td><a href="area-riservata/manage/note">Note</a></td>
                <td><a href="area-riservata/manage/doc">Documenti</a></td>
              </tr>
            </tbody>
        </table>
        
        <hr>
        
        <h2>Utility del Server</h2>
        
        <table class="index">
           <tbody> 
              <tr>
                <td><a href="mailto:webmaster@caisovico.it">Mailbox del Webmaster</a></td>
                <td><a href="http://webmail.caisovico.it" target="blank">Web Mail di caisovico.it</a></td>
                <td><a href="http://web-4.hosting.tiscali.it/" target="blank">Pannello di Controllo</a></td>
              </tr>
            </tbody>
        </table>
        
        <a class='btn-upload buttonstyle' href="area-riservata/logout">Logout</a>
    

	{% endblock content %}
    
</div>
{% endblock body %}
