{% extends "web-res-home.html" %}

{% block content %}
<div class="boxlog" style="text-align:center;">
	<form method=POST enctype=multipart/form-data>
		<h2 style>Login</h2>
            {% if msg %}
                <p style="text-align:center;color:red">{{ msg }}</p>
            {% endif %}
        
			<input name="user" type=text placeholder="Username">
			<input name="password" type=password placeholder="Password">
            <br>
			<input class='buttonstyle' type=submit value=Login>
	</form>
</div>
{% endblock %}
