{% extends "base/main.html" %}

{% block body %}
<div class="text">
    <a href="/pannello/area-riservata"><h1>Area Riservata</h1></a>
    
    {% block content %}

        <table class="index">
           <tbody> 
              <tr>
                <th><h3>Carica</h3></th>
                <th><h3>Modifica</h3></th>
                <th><h3>Elimina</h3></th>
              </tr>
                
              <tr>
                <td><a href="area-riservata/upload/news">Notizia</a></td>
                <td><a href="area-riservata/manage/news">Notizia</a></td>
                <td><a href="area-riservata/delete/news">Notizia</a></td>
              </tr>
              
              <tr>
                <td><a href="area-riservata/upload/note">Nota</a></td>
                <td><a href="area-riservata/manage/note">Nota</a></td>
                <td><a href="area-riservata/delete/note">Nota</a></td>
              </tr>
              
              <tr>
                <td><a href="area-riservata/upload/doc">Documento</a></td>
                <td><a href="area-riservata/manage/doc">Documento</a></td>
                <td><a href="area-riservata/delete/doc">Documento</a></td>
              </tr>              
              
            </tbody>
        </table>
        
        <a class='buttonstyle' href="area-riservata/logout">Logout</a>
    

	{% endblock content %}
    
</div>
{% endblock body %}
