{% extends "web-res-home.html" %}

{% block content %}
    
    {% if item %}
        <h2>Modifica</h2>
    {% else %}
        <h2>Upload</h2>
    {% endif %}
    
    
    {% if upload=='fail' %}
        <p style="text-align:center;color:red">{{ msg }}</p>
    {% endif %}
    {% if upload=='success' %}
        <p style="text-align:center;color:green">{{ msg }}</p>
    {% endif %}

    <div class="boxup">
    {% if obj=='news' or obj=='note' or obj=='doc' %}
        <form method=POST enctype=multipart/form-data>

      {% if obj=='news' %}
        <div style="text-align:right;">
            <input class='data' name="data" id="datepick" value='{{ item.date }}' type="text" placeholder="Data..."/>
        </div>
        <div style="text-align:center;">
            <input class="title" name='titolo' value='{{ item.title }}' type="text" placeholder="Titolo...">
            <textarea class='textfield' type="text" name='testo' placeholder="Testo...">{{ item.content }}</textarea>
        </div>
        
        
        <h3>Foto:</h3>
        {% if item.pics or item.addphoto %}
            <p>Clicca sulla foto da modificare o rimuovere:</p>
            <div class='pseudotable'>
              {% for photo in item.pics %}
                <a href='{{ item.id }}/pics/{{ photo[0] }}'>
                  <div class='pseudorow'>
                      <p class='tabletitle'{% if message %} style='text-align:center;color:red' {% endif %}>{{ photo[1] }}</p>
                  </div>
                </a>
            {% endfor %}
            {% if item.addphoto %}
                <a href='{{item.id}}/pics/add'>
                  <div class='pseudorow'>
                      <p class='tabletitle'style='font-style:italic;' > -- Aggiungi Foto --</p>
                  </div>
                </a>
            {% endif %}  
            </div>
        {% else %}
            <p><input name='foto1' type='file'><br><input class='caption' name='descrizione1' type='text' placeholder="Descrizione..."></p>
            <p><input name='foto2' type='file'><br><input class='caption' name='descrizione2' type='text' placeholder="Descrizione..."></p>
            <p><input name='foto3' type='file'><br><input class='caption' name='descrizione3' type='text' placeholder="Descrizione..."></p>
            <p><input name='foto4' type='file'><br><input class='caption' name='descrizione4' type='text' placeholder="Descrizione..."></p>
            <p><input name='foto5' type='file'><br><input class='caption' name='descrizione5' type='text' placeholder="Descrizione..."></p>
        {% endif %}
        
      {% elif obj=='note' %}
        <div style="text-align:center;">
        <h3>Nota:</h3>
            <textarea name='testo' class='nota' type="text" placeholder="Testo...">{{ item.content }}</textarea>
        </div>
      {% elif obj=='doc' %}
        <div style="text-align:center;">
        <h3>Documento:</h3>
            <p>
            {% if item %}
            CANCELLA il documento vecchio e sostituiscilo con:<br>
            {% endif %}
            <input name='doc' type='file'>
            {% if item %}
            <br><br>OPPURE<br><br>
            CAMBIA IL NOME del vecchio documento con:<br>
            {% endif %}
            <input name='descrizione' type='text' value='{{ item.title }}' placeholder='Titolo del documento...'>
            </p>
        </div>
      {% endif %}
            <input class='buttonstyle' type='submit' value='Upload'>
        </form>	
    {% else %}
        <h1>ERRORE</h1>
    {% endif %}
    </div>
    <a href='/pannello/area-riservata'><button class='backbuttonstyle'>Indietro</button></a>

    {% if obj=='news' %}
    <link href="/static/css/datepickr.css" rel="stylesheet">
    <script type="text/javascript" src="/static/javascript/datepickr.min.js"></script>
    <script type="text/javascript">
        new datepickr('datepick', {
            'dateFormat': 'd/m/Y'
        });
    </script>
    {% endif %}
    
{% endblock %}
